<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add  key="FilePath" value=""/>
		<add  key="FileType" value=""/>
		<add  key="FilePath" value=""/>
		<add  key="FilePath" value=""/>
		<add  key="FilePath" value=""/>
		<add  key="FilePath" value=""/>
		<add  key="FilePath" value=""/>
		<add  key="FilePath" value=""/>

	</appSettings>
</configuration>